:root {
    --brand-color: rgb(240, 119, 44);
    --brand-hover-color: #e65c00;
    /* Slightly darker for hover effect */
    --brand-active-color: #cc5200;
    /* Even darker for active state */
    --section-bg-color: rgb(242, 242, 242);
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --container-color: hsl(212, 42%, 20%);

    /* Font and typography */
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}

.text-brand {
    color: var(--brand-color);
}

/* ---- Btn Styles ---- */
.brand-button {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.brand-button:hover {
    background-color: var(--brand-hover-color);
    border-color: var(--brand-hover-color);
}

.brand-button:focus,
.brand-button:focus-visible {
    background-color: var(--brand-hover-color);
    border-color: var(--brand-hover-color);
}

.brand-button:active {
    background-color: var(--brand-active-color) !important;
    border-color: var(--brand-active-color) !important;
}

/* ---- Navbar ---- */

/* ---- Hero Section ---- */
#hero-section h1 {
    font-size: 2rem;
}

/* ---- Solution Section ---- */
#solution-section {
    background-color: var(--section-bg-color);
}

/* ---- Rooms Section ---- */
.card__container {
    padding-block: 5rem;
}

.card__content {
    /* margin-inline: 1.75rem; */
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article {
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card__img {
    display: block;
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card__button {
    display: inline-block;
    background-color: var(--brand-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--brand-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: var(--brand-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--brand-active-color);
}

/* Rooms Section Breakpoints */
@media screen and (max-width: 320px) {
    .card__data {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1120px) {
    .card__container {
        max-width: 1120px;
    }

    .swiper-button-next {
        right: -1rem;
    }

    .swiper-button-prev {
        left: -1rem;
    }
}