:root {
    --brand-color: #f0772c;
    --brand-hover-color: #e65c00;
    /* Slightly darker for hover effect */
    --brand-active-color: #cc5200;
    /* Even darker for active state */
    --section-bg-color: rgb(242, 242, 242);
}

.text-brand {
    color: var(--brand-color);
}

/* ---- Btn Styles ---- */
.brand-button {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.brand-button:hover {
    background-color: var(--brand-hover-color);
    border-color: var(--brand-hover-color);
}

.brand-button:focus,
.brand-button:focus-visible {
    background-color: var(--brand-hover-color);
    border-color: var(--brand-hover-color);
}

.brand-button:active {
    background-color: var(--brand-active-color) !important;
    border-color: var(--brand-active-color) !important;
}

/* ---- Navbar ---- */

/* ---- Hero Section ---- */
h1 {
    font-size: 1.8rem;
    /* Default for mobile */
}

#hero-section p {
    font-size: 1rem;
}

.check-hero {
    color: var(--brand-color);
}

@media (min-width: 768px) {

    /* md breakpoint */
    h1 {
        font-size: 1.75rem;
    }

    #hero-section p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* lg breakpoint */
    h1 {
        font-size: 2.0rem;
    }

    #hero-section p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {

    /* xl breakpoint */
    h1 {
        font-size: 2.5rem;
    }

    #hero-section p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1400px) {

    /* xxl breakpoint */
    h1 {
        font-size: 2.75rem;
    }

    #hero-section p {
        font-size: 1.4rem;
    }
}


/* ---- Solution Section ---- */
#solution-section {
    background-color: var(--section-bg-color);
}


/* ---- Benefits section ---- */

.benefits-h {
    font-size: 1.2rem;
}

.benefits-p {
    font-size: 0.9rem;
}
@media (min-width: 576px) {
    .benefits-h {
        font-size: 1.3rem;
    }

    .benefits-p {
        font-size: 0.9rem;
    } 
    .benefits-b{
        font-size: 0.9rem;
    }
}


@media (min-width: 768px) {

    /* md breakpoint */
    .benefits-h {
        font-size: 1.3rem;
    }

    .benefits-p {
        font-size: 1rem;
    }
    .benefits-b{
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {

    /* lg breakpoint */
    .benefits-h {
        font-size: 1.5rem;
    }

    .benefits-p {
        font-size: 1rem;
    }
    .benefits-b{
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {

    /* xl breakpoint */
    .benefits-h {
        font-size: 1.8rem;
    }

    .benefits-p {
        font-size: 1.3rem;
    }
    .benefits-b{
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {

    /* xxl breakpoint */
    .benefit-h {
        font-size: 2.75rem;
    }

    .benefit-p {
        font-size: 1.4rem;
    }
}

/* ----- Room Slideshow ----- */
#room-slideshow {
    padding: 1.5rem;
  }
  
  .card__container {
    padding-block: 5rem;
    padding-bottom: 2.5rem
  }
  
  .card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__article {
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__image {
    position: relative;
    margin-bottom: -1.3rem;
  }

  
  .card__data {
    background-color: rgb(245, 245, 245);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: left;
    position: relative;
    z-index: 10;
  }

  .card__data__small {
    z-index: 10;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .card__img {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  
  .card__name {
    color: var(--brand-color);
    margin-bottom: .75rem;
    font-weight: 600;
  }
  
  .card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
  }
  
  .card__button {
    display: inline-block;
    background-color: var(--brand-color);
    padding: .75rem 1.5rem;
    border-radius: 40px;
    color: white !important;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.1s ease-in;
  }
  
  .card__button:hover {
    background-color: var(--brand-hover-color);
  }
  
  /* Swiper class */
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--brand-color);
    display: none;
  }
  
  .swiper-button-prev {
    left: 0;
    color: var(--brand-color);
  }
  
  .swiper-button-next {
    right: 0;
    color: var(--brand-color);
  }
  
  .swiper-pagination-bullet {
    background-color: var(--brand-color);
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--brand-active-color);
  }
  
  .card__price {
    font-size: 2rem;
  }
  
  .card__description li {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: .3rem;
  }

  @media (min-width: 992px) {
    #room-slideshow{
        padding: 5.5rem;
    }
  }
  
/* ---- Testimonials section ---- */
#testimonials-section {
    background-color: var(--section-bg-color);
    padding: 4.5rem 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    margin: 0.6rem;
}

#testimonials-section button {
    margin: -1rem;
}

.google-logo{
    width: 120px;
    transition: 0.5s;
}

.google-logo:hover{
    transform: translateY(-.4rem);
}

.review-text{
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    .google-logo{
        width: 150px;
    }
}


@media (min-width: 768px) {
    .google-logo{
        width: 175px;
    }
    .google-reviews{
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .google-logo{
        width: 200px;
    }
    .google-reviews{
        font-size: 2rem;
    }
    .review-text{
        font-size: 1.55rem;
    }
}

@media (min-width: 1200px) {
    .review-text{
        font-size: 1.65rem;
    }
}

/* ---- Features section ---- */
#features-section svg {
    color: var(--brand-color);
}

/* ---- Footer ---- */
footer {
    background-color: black;
    color: #bdbdbd;
}

.footer-logo{
    width: 40px;
    transition: 0.3s;
}

.footer-logo:hover{
    color: #ffffff;
    transform: translateY(-.2rem);
}